

:root {
    --colorPrimary: #1b1d21;
    --colorPrimaryDark: #212329;
    --colorAccent: #ff9e00;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #121212;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #424242;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

*, *::before, *::after {
    margin: 0; padding: 0; box-sizing: border-box;
    color: #e8e6e3;
}

a, a:focus, a::after {
    text-decoration: none;
    color: #e8e6e3;
}

body {
    height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: #CFD8DC #90A4AE;
}

spacer {
    display: block;
    width: 100%;
    height: 5px;
}
.sp2 { height: 10px; }
.sp8 { height: 40px; }

flex {
    display: flex;
    justify-content: center;
    width: 100%;
}

flex-column {
    display: flex;
    justify-content: center;
    width: 100%;
}

row {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;

}

column {
    display: block;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0 15px;
    text-align: center!important;
}

comments {
    display: block;
    background: #fff;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;

}

appbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #1b1d21;
}

scaffold {
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

iframe {
    width: 100%;
    /* height: ; */
}



red { color: rgb( 179, 0, 0 ); }
green { color: #0f0; }
blue { color: #00f; }
branco { color: # }
preto { color: #000; }
gold { color: gold; }

header {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(../imgs/kbox1001.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
}

hdln0 {
    font-family: "Quantico", Sans-serif;
    font-size: clamp( 22px, 3vw, 48px );
    width: 90%;
    font-weight: 600;
    line-height: 0.9em;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    margin: 1ch 0;
}

hdln {
    font-family: "Quantico", Sans-serif;
    font-size: clamp( 28px, 4.7vw, 62px );
    font-weight: 600;
    line-height: 0.9em;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    margin: 1ch 0;
}

hdln-sub {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 0.9rem;
    overflow-wrap: break-word;
    color: rgb(232, 230, 227);
    text-align: center;
    font-family: "Exo", Sans-serif;
    font-size: clamp( 21px, 2.07vw, 28px );
    font-weight: 400;
}

.seta {
    position: absolute;
    transform: translate(110px, -10px);
    z-index: 100;
    width: 50px;
}

.compra {
    width: clamp( 242.5px, 35%, 250.8px );
}

.logo-final {
    width: 183px;
    margin: 4ch 0;
}

rodape {
    background: #000;
    display: flex;
}

.rodape-logo {
    width: 72px;
}

txt {
    width: 90%;
    font-size: 12px;
    color: #ffffff99;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


t16 {
    width: 90%;
    font-size: 16px;
    color: #ffffff99;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

f-txt {
    font-size: 16px;
    color: #e8e6e390;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

































/* media */
@media (min-width: 576px) {
    scaffold {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    scaffold {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    scaffold {
        max-width: 960px;
    }

    column {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media (min-width: 1200px) {
    scaffold {
        max-width: 1140px;
    }
}


/* ------------------------------
[ BTN ] */
/* pulsing button */
@keyframes pulse-orange {
    0% {
        transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
	}
	
	70% {
        transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
	}
	
	100% {
        transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}

btn {
    transform: scale(1);
    cursor: pointer;
    transition: .1s ease-in-out;
    /* animation: pulse-orange 2s infinite; */
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    color: #2e82bc;
    outline: 0;
    line-height: 1;
    text-align: center;
    position: relative!important;
    display: inline-block!important;
    border-style: solid;
    width: clamp( 264.60px, 60%, 425px );
    padding-left: 0!important;
    padding-right: 0!important;
    margin-bottom: 10px;
    padding: 22px 44px;
    border-color: #ff5535;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
    text-decoration: none!important;
    background: transparent;
    border: rgb( 179, 0, 0 ) 3px solid;
    border-radius: 5rem;
}

btn-t {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin: 0;
    border: 0;
    font: inherit;
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 15px;
    white-space: normal;
    font-size: 22px;
    font-size: 1.63vw;
    font-size: clamp( 14px, 1.63vw, 22px );
    font-family: Roboto, Sans-serif;
    font-weight: 400;
    text-decoration: none;
    width: 100%;
    transition: .05s ease-out;
}

btn-t2 {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    position: relative;
    z-index: 1;
    margin: 0.2em 0 -0.5em;
    font-size: 15px;
    color: #f5e051;
    font-weight: 700;
    font-style: italic;
    text-shadow: #000 0 1px 0;
}

btn {
    background: transparent;
    border: rgb( 179, 0, 0 ) 3px solid;
    border-radius: 5rem;
}

btn:hover {
    background-image: 
        linear-gradient(
            rgb(185, 0, 82) 0%, 
            rgb(199, 0, 0) 100%
            );
}

btn:focus {
    background-image: 
        linear-gradient(
            rgb(185, 0, 82) 0%, 
            rgb(199, 0, 0) 100%
            );
}

btn:focus-visible {
    border-color: #e8e6e3;
}